.data-table {
  border: 1px solid black;
  width: 100%;
}
.data-table th {
  border-bottom: 1px solid black;
}
.data-table tr {
  display: grid;
  grid-template-columns: 10% 20% 20% 25% 25%;
}
.data-table td, th {
  padding-left: 10px;
  border-right: 1px solid black;
}